# ---------------------
# Node / Frontend
# ---------------------

# ---------------------
# Python / Backend
# ---------------------
venv/
.env

# ---------------------
# AI / YOLO outputs
# ---------------------

runs/
results/
*.pt
*.onnx

# ---------------------
# Images & Videos (IMPORTANT ✅)
# ---------------------
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.mp4
*.avi

# ---------------------
# OS / Editor junk
# ---------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
